<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="browser" value=""/>
    <suite-files>
        <suite-file path="AllScenarios.xml"/>
        <suite-file path="registrationNegativeScenario.xml"/>
        <suite-file path="loginNegativeScenario.xml"/>
    </suite-files>

</suite>